/*@media only screen and (min-width: 1200px){
	#side_inicio > .ui.container, #side_prestamos > .ui.container, #side_materiales > .ui.container, #side_personas > .ui.container, #side_lugares > .ui.container{
		margin-left: 0!important;
		margin-right: 0!important;
	}
}*/

.ui.visible.left.sidebar~.fixed, .ui.visible.left.sidebar~.pusher{
	transform: none;
}

.sidebar.menu{
	background: #00B5AD!important;
}

.admincontainer{
	width: 87%!important;
	margin-left: 13%!important;
	/*text-align: center;*/
}

.ui.visible.inverted.left.vertical.sidebar.menu{
	box-shadow: none;
}

.ui.sidebar{
	/*top: auto!important;*/
	top: 0;
}

.ui.left.sidebar, .ui.right.sidebar{
	/*width: 210px;*/
	width: 13%;
}
/*
.cabecera.admin{
	height: 65px;
	z-index: 99;
}

#menuizq > img{
	z-index: 1!important;
}

#menuizq > img{
	width: 30px;
	margin: 15px 0 15px 30px;
}

#menuizq > p{
	color: #ffffff;
	float: right;
	margin-top: 30px;
    margin-right: 55px;
}*/

/*#side_inicio > #advadd, #advmod, #advdev, #advdel{
	right: 275px!important;
	top: -12px!important;
}*/

#menuizq{
	z-index: 1!important;
}

#menuizq > p{
	margin-top: 65px;
}

#side_prestamos > #advadd, #advmod, #advdev, #advdel{
	width: 300px;
	position: fixed;
	/*right: 15px;
	top: 40px;*/
	box-shadow: 0px 3px 5px #ccc !important;
	z-index: 99;
	/*right: 275px!important;
	top: -12px!important;*/
	/*visibility: hidden;*/
	top: 60px;
	right: 70px;
}

#side_prestamos, #side_materiales, #side_personas, #side_lugares{
	/*visibility: hidden;*/
	top: 80px;
}

svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  /*display: inline-block;*/
  /*text-align: center;*/
}