body{
	background: #f0f0f0;
}

h1{
	font-family: 'Open Sans' !important;
	text-align: center;
	font-size: 24pt;
}

/*div.modal{
	width: 500px !important;
	/*margin: 100px auto !important;
}*/

.columna{
	display: inline-block;
	width: 45%;
	text-align: center;
}

.center{
	text-align: center;
}

.bold{
	font-weight: bold;
}

#mod-dev > .content > .negative{
	width: 70%;
	margin-left: 15%;
}

div.search.medium{float: left; margin-right: 25px;}

#advadd, #advmod, #advdev, #advdel{
	width: 300px;
	position: absolute !important;
	right: 15px;
	top: 40px;
	box-shadow: 0px 3px 5px #ccc !important;
	z-index: 99;
	/*display: none;*/
}

#addp, #addm, #addl{
	display: block;
	margin: 0 auto;
}

/*div.message.empty{background: #f0f0f0 !important;}*/