body{
	background: #f0f0f0;
}

h1{
	font-family: 'Open Sans' !important;
	text-align: center;
	font-size: 24pt;
}

#prestamos{
	margin-bottom: 30px;
}

#prestamos thead tr:first-child>th:first-child{
	width: 2%;
}

#prestamos tr td:first-child{
	padding: 0 0 0 3px;
	margin: 0;
	text-align: center;
}

textarea{
	margin: 3px 0!important;
}

.ui.celled.table tr td:nth-child(5), .ui.celled.table tr th:nth-child(5), .ui.celled.table tr td:nth-child(6), .ui.celled.table tr th:nth-child(6){
	width: 16%;
}

.columna1{
	display: inline-block;
	width: 30%;
	text-align: center;
	margin: 20px 0;
}

.columna2{
	display: inline-block;
	width: 65%;
	text-align: center;
	margin: 20px 0;
}

.center{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.icrowmat{
	float: right;
}

.icpres{
	margin-left: 20px;
}

.addlistadomat td:nth-child(3), .addlistadomatm td:nth-child(3), .modper td:nth-child(3), .modlug td:nth-child(3), .moddate td:nth-child(3), .addper td:nth-child(3), .addlug td:nth-child(3), .adddate td:nth-child(3){
	width: 45%;
	padding-left: 5px;
}

.addlistadomat td:nth-child(4), .addlistadomatm td:nth-child(4){
	width: 20%;
}

.add.circle.icon{
	font-size: 2em;
	padding-top: 7px;
	display: inline-block;
}

.add.circle.icon:hover{
	color: #16AB39;
}

.minus.circle.icon{
	font-size: 2em;
	padding-top: 7px;
	display: inline-block;
}

.minus.circle.icon:hover{
	color: #D01919;
}

.ui.list .list>.item>.icon+.content, .ui.list .list>.item>.image+.content, .ui.list>.item>.icon+.content, .ui.list>.item>.image+.content{
	vertical-align: bottom;
	padding-bottom: 2px;
}

.ui.dimmer{
	background-color: rgba(0,0,0,.85);
}

#mod-dev > .content > .negative{
	width: 70%;
	margin-left: 15%;
	text-align: center;
}

div.search.medium{float: left; margin-right: 25px;}

#addp, #addm, #addl, #addmp, #addmm, #addml{
	display: block;
	margin: 0 auto;
}

.info.circle.icon{
	color: #00B5AD;
	background: none;
}

#administrar_container .ui.secondary.pointing.menu .item.active{
	border-color: #00B5AD;
}

.dropdown .add{
	margin-top: 15px;
	margin-right: 5px;
}

.dropdown span{
	font-weight: bold;
}

.ui.multiple.selection.dropdown{
	width: 100%!important;
}

#administrar_container .ui.submit.button:hover{
	background: #00B5AD;
	color: #ffffff;
}

.titform{
	font-size: 14pt;
	font-weight: bold;
	margin: 10px 0 20px 0;
}