.cabecera{
	width: 100%;
	text-align: left;
	margin: 0 0 0 0;
	background: #00B5AD;
	padding: 15px 70px 15px 0;
	color: #ffffff;
	font-size: 14pt;
	position: fixed;
	z-index: 99;
	top: 0;
}

.cabecera img{
	width: 30px;
	margin-right: 10px;
	margin-left: 20px;
}

.cabecera a{
	color: #ffffff;
	font-size: 12pt;
	float: right;
	margin-top: 7px;
}

.cabecera a:hover{
	color: rgb(240, 240, 240);
}

.logo{
	display: inline-block;
	width: 200px;
}

.logo:hover{
	cursor: hand;
	cursor: pointer;
}

.filtros{
	width: 100%;
	margin-top: 20px;
}

.filtros > .filtro{
	width: 120px;
	margin-right: 60px;
	display: inline-block;
}

.filtros > .filtro:first-child{
	width: 200px;
	margin-right: 0px;
	display: inline-block;
}

.filtro > span{
	margin: 0 5px;
}

.filtro .prompt{
	border-radius: 500rem;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-shadow: none;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2142em;
    padding: .67861429em .75em;
    font-size: 1em;
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: background-color .1s ease,color .1s ease,box-shadow .1s ease,border-color .1s ease;
    transition: background-color .1s ease,color .1s ease,box-shadow .1s ease,border-color .1s ease;
}

.toggle{
	z-index: 1;
}

.nprestamo{
	width: 18%;
	display: inline-block;
}

.nprestamo span{
	text-align: right;
	margin-left: 8px;
}

.paddingContent{
	padding: 38px !important;
}

.rightAlign{
	right: 0;
  	position: absolute;
}

.ourColor{
	background-color: #00B5AD !important;
	color: white !important;
	border: 2px solid #00B5AD !important;
}
.ourColor:hover{
	background-color: white !important;
	color: #00B5AD !important;
	transition: .2s !important;
	border: 2px solid #00B5AD;
}
