.section {
  background-color:rgba(255,255,255,0.8);
  visibility: hidden;
  display: none;
  position: absolute;
  width: 87%;
  height: 100%;
  z-index: 50;
}

.centro{
  vertical-align: middle;
  display: table-cell;
  position: relative;
  color: #000;
  text-align: center;
}

.centro img{
  display: block;
  margin: 10px auto;
  width: 80px;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #000;
}

.loader-simple {
  border-radius: 50px;
  border: 6px solid rgba(125, 125, 125, 0.4);
  color: #000;
}
.loader-simple:after {
  color: #000;
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #000;
  animation: load 1s linear infinite;
  -webkit-animation: load 1s linear infinite;
  -o-animation: load 1s linear infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}