.cabecera{
	width: 100%;
	text-align: left;
	margin: 0 0 20px 0;
	background: #00B5AD;
	padding: 15px 100px;
	color: #ffffff;
	font-size: 14pt;
}

/*.lmenu{
	width: 50%;
	text-align: left;
	margin: 0;
}

.rmenu{
	width: 50%;
	text-align: right;
	margin: 0;
}*/

.cabecera img{
	width: 30px;
	margin-right: 10px;
}

.cabecera a{
	color: #ffffff;
	font-size: 12pt;
	float: right;
	margin-top: 7px;
}

.cabecera a:hover{
	color: rgb(240, 240, 240);
}